location ~^/console/(.*)$ {
    set $proxy_target '';
    set $proxy_host   '';
    set $ws_protocol     '';

    access_by_lua_file /etc/openresty/scripts/token_v2.lua;

    proxy_http_version 1.1;
    proxy_set_header Upgrade                $http_upgrade;
    proxy_set_header Connection             "upgrade";
    proxy_set_header Host                   $proxy_host;
    proxy_set_header Sec-WebSocket-Protocol $http_sec_websocket_protocol;
    proxy_set_header Authorization          $http_authorization;
    proxy_read_timeout 86400;
    proxy_buffering off;
    proxy_pass $proxy_target;

    # Log upstream details
    access_log /var/log/openresty/console_access.log console_debug;
    error_log  /var/log/openresty/console_error.log debug;

    header_filter_by_lua_block {
        if ngx.var.http_sec_websocket_protocol then
            ngx.header["Sec-WebSocket-Protocol"] = ngx.var.http_sec_websocket_protocol
        end
    }
}
